:root {
  --pokemon-blue: #356abc;
  --pokemon-yellow: #fbcb04;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pokemon-blue); 
  border: 2px solid var(--pokemon-yellow);
  border-radius: 5px;
}

body {
  background-color: var(--pokemon-blue);
}

.col-2 {
  text-align: center;
  color: white;
  margin: 10px;
  background: #565c63;
  border: 2px solid var(--pokemon-yellow);
  margin-top: 100px;
  margin-bottom: 100px;
}

.col {
  text-align: center;
  color: white;
  margin: 10px;
  background: #565c63;
  border: 2px solid var(--pokemon-yellow);
}

.logo-img {
  height: 75px;
}

.navbar {
  border-bottom: 2px solid var(--pokemon-yellow);
  margin-left: -15px;
  margin-right: -15px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.body-container {
  min-height: 100vh;
}

#poke-images {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}

.building-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#building {
  display: block;
  margin: auto;
  height: 4vh;
  margin-left: 1px;
}

.hp-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#heart {
  display: block;
  margin: auto;
  height: 4vh;
}

.backpack-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#backpack {
  display: block;
  margin: auto;
  height: 4vh;
  margin-left: 1px;
}

.pokedex-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#pokedex {
  display: block;
  margin: auto;
  height: 4vh;
  margin-left: 1px;
}

.center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#location-img {
  border: 2px solid var(--pokemon-yellow);
  width: 95%;
  max-height: 50vh;
}
#message {
  border: 2px solid var(--pokemon-yellow);
  padding: 15px;
  width: 95%;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pokemon-sprites {
  height: 40vh; 
  margin: -50px -20px -50px -20px;
}
.pokemon-sprites:hover {
  cursor: pointer;
}


.btn-primary {
  border-width: 2px;
  background-color: var(--pokemon-blue);
  border-color: var(--pokemon-blue);
}

.btn-primary:hover {
  background-color: #3a71c7;
  border-color: var(--pokemon-yellow);
}

.login-form {
  margin-top: 10vh;
}

#username, #name {
  border: 2px solid var(--pokemon-blue);
  width: 15vw;
}
#username:focus, #name:focus {
  border: 2px solid var(--pokemon-yellow);
}

#rename-form {
  position: absolute;
  /* top: 40vh; */
  bottom: 18vh;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
  transition: all 1s;

  background-color: #565c63;
  padding: 5px;
  border: 2px solid var(--pokemon-yellow);
}
#rename-form.close {
  top: 90%;
  height: 0;
  z-index: -1;
}
#starter-form {
  position: absolute;
  top: 26vh;
  /* bottom: 50vh; */
  width: 20vh;
  height: 17vh;
  overflow: hidden;
  transition: all 1s;

  background-color: #565c63;
  padding: 5px;
  border: 2px solid var(--pokemon-yellow);
}
#starter-form.close {
  top: 90%;
  height: 0;
  z-index: -1;
}

#scoreboard-ol {
  overflow: auto;
  max-height: 57vh;
}

#pokemon-ul {
  overflow: auto;
  max-height: 12vh;
}
#pokemon-ul img{
  max-height: 9vh;
}
#inventory-ul {
  overflow-y: initial;
  overflow-x: visible;
  max-height: 9vh;
}

.evo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px;
  /* flex-direction: column; */
}

/* click effect */
.inv-item {
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
  
}
.inv-item:after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
.inv-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
.inv-item:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
.inv-item:hover::after,
.inv-item:hover::before {opacity: 1;}
.inv-item:hover::after {top: 30px;}
.inv-item:hover::before {top: 20px;}

/* pokemon */

.poke-container {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.poke-container:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.poke-container:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: gold;
    border-radius: 100%;
  }
  100% {
    background: orange;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}