:root {
  --pokemon-blue: #356abc;
  --pokemon-yellow: #fbcb04;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pokemon-blue); 
  border: 2px solid var(--pokemon-yellow);
  border-radius: 5px;
}

body {
  background-color: var(--pokemon-blue);
}

.col-2 {
  text-align: center;
  color: white;
  margin: 10px;
  background: #565c63;
  border: 2px solid var(--pokemon-yellow);
  margin-top: 100px;
  margin-bottom: 100px;
}

.col {
  text-align: center;
  color: white;
  margin: 10px;
  background: #565c63;
  border: 2px solid var(--pokemon-yellow);
}

.logo-img {
  height: 75px;
}

.navbar {
  border-bottom: 2px solid var(--pokemon-yellow);
  margin-left: -15px;
  margin-right: -15px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.body-container {
  min-height: 100vh;
}

#poke-images {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}

.center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#location-img {
  border: 2px solid var(--pokemon-yellow);
  width: 95%;
  max-height: 50vh;
}
#message {
  border: 2px solid var(--pokemon-yellow);
  padding: 15px;
  width: 95%;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pokemon-sprites {
  height: 40vh; 
  margin: -50px -20px -50px -20px;
}
.pokemon-sprites:hover {
  cursor: pointer;
}

.inventory-sprite {
  height: 3vh;
}

.btn-primary {
  border-width: 2px;
  background-color: var(--pokemon-blue);
  border-color: var(--pokemon-blue);
}

.btn-primary:hover {
  background-color: #3a71c7;
  border-color: var(--pokemon-yellow);
}

.login-form {
  margin-top: 10vh;
}

#username, #name {
  border: 2px solid var(--pokemon-blue);
  width: 15vw;
}
#username:focus, #name:focus {
  border: 2px solid var(--pokemon-yellow);
}

#rename-form {
  position: absolute;
  /* top: 40vh; */
  bottom: 18vh;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
  transition: all 1s;

  background-color: #565c63;
  padding: 5px;
  border: 2px solid var(--pokemon-yellow);
}
#rename-form.close {
  top: 90%;
  height: 0;
  z-index: -1;
}
#starter-form {
  position: absolute;
  top: 26vh;
  /* bottom: 50vh; */
  width: 20vh;
  height: 17vh;
  overflow: hidden;
  transition: all 1s;

  background-color: #565c63;
  padding: 5px;
  border: 2px solid var(--pokemon-yellow);
}
#starter-form.close {
  top: 90%;
  height: 0;
  z-index: -1;
}

#scoreboard-ol {
  overflow: auto;
  max-height: 57vh;
}

#pokemon-ul, #inventory-ul {
  overflow: auto;
  max-height: 12vh;
}